:root{
  --text : white;
  --hover : #1eb2a6;
  --background : rosybrown;
}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--background);
  /* background-color: #1eb2a6; */
}

h1{
  padding: 0;
  margin: 0;
}

.flexSB{
  display: flex;
  justify-content: space-between;
}
.container{
  max-width: 85%;
  margin: auto;
}

.social{
  width: 20%;
  text-align: right;
}

.icon{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 45%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--hover);
  transition: 0.5s;
  padding: 3%;
  padding-bottom: 1%;
}

.icon:hover{
  cursor: pointer;
  background-color: var(--hover);
  color: var(--text);
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
button{
  border: none;
  font-size: 100%;
}